.productbutton-email-button{
    margin: 1em 0 4em 0;
    padding: 1em;
    background-color: white;
    
    min-width: 200px;
    max-width: 500px;

    border: 0.2em solid var(--light-purple);
    border-radius: 0.5em;

    font-family: 'Merriweather ', sans-serif;
    color: var(--light-purple);
    font-size: 1em;
}
  
input:focus {
    outline: 0;
}

