.productbutton-email-button{
    margin: 1em 0 1em 0;
    padding: 1em;
    background: rgba(247, 224, 20, 0.788);
    
    min-width: 200px;
    max-width: 500px;

    border: 1em solid white; 
    border: 0.1em solid rgba(155, 155, 155, 0.774);
    border-radius: 0.5em;

    font-family: 'Merriweather ', sans-serif;
}
  
input:focus {
    outline: 0;
}